<div>
    <h2 id="page-heading">
        <span jhiTranslate="gdpApp.city.home.title">Cities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-city" [routerLink]="['/city/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gdpApp.city.home.createLabel">
            Create new City
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="cities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="gdpApp.city.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="distrct"><span jhiTranslate="gdpApp.city.distrct">Distrct</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="population"><span jhiTranslate="gdpApp.city.population">Population</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="countryName"><span jhiTranslate="gdpApp.city.country">Country</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let city of cities ;trackBy: trackId">
                <td><a [routerLink]="['/city', city.id, 'view' ]">{{city.id}}</a></td>
                <td>{{city.name}}</td>
                <td>{{city.distrct}}</td>
                <td>{{city.population}}</td>
                <td>
                    <div *ngIf="city.countryId">
                        <a [routerLink]="['../country', city.countryId , 'view' ]" >{{city.countryName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/city', city.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/city', city.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'city/'+ city.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="cities && cities.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
